{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<div class="bs-callout bs-callout-primary mt-0">
				<h4>Pemodelan Data</h4>
				<p class="text-muted">Membuat pengetahuan (<em>Model</em> latih) dengan Data Latih</p>
			</div>

			{% with messages = get_flashed_messages(category_filter=["success"]) %}
				{% if messages %}
					{% for message in messages %}
						<div class="alert alert-success alert-dismissible fade show" role="alert">
							{{ message }}
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
							</button>
						</div>
					{% endfor %}
				{% endif %}
			{% endwith %}
			{% with messages = get_flashed_messages(category_filter=["error"]) %}
				{% if messages %}
					{% for message in messages %}
						<div class="alert alert-danger alert-dismissible fade show" role="alert">
							{{ message }}
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
							</button>
						</div>
					{% endfor %}
				{% endif %}
			{% endwith %}

			<div id="content_modeling">
				<div class="col-md-6 offset-md-3 col-sm-12 text-center mb-3">
					<button type="button" class="btn btn-success w-75" data-toggle="modal" data-target="#modalModeling"><i class="fa fa-cogs"></i> <em>Modeling</em> Data</button>
				</div>

				<!-- Modal -->
				<div class="modal fade" id="modalModeling" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel"><em>Modeling</em></h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<form>
								<div class="modal-body px-5">
									<label class="text-muted mb-0 text-justify">Pembuatan <em>model</em> latih dengan ekstraksi fitur menggunakan <span class="h6">CountVectorizer</span>, dengan sampel yang diperoleh dari <span class="h6">{{ count_data_training }}</span> Data Latih.</label>
									<br />
									<div class="container-fuild text-left mt-3">
										<label class="text-muted">Atur sampel kuota <em>(Quota Sampling)</em>:</label>
										<br />
										<div class="input-group mb-2 w-75">
											<div class="input-group-prepend">
												<span class="input-group-text" style="background-color: #fff;"><i class="fa fa-frown-o text-danger"></i></span>
											</div>
											<input type="number" min="1" max="{{ max_sample_sentiment }}" name="sample_NONHS" value="{{ max_sample_sentiment }}" id="sample-NONHS" class="form-control text-danger" />
											<div class="input-group-append">
												<span class="input-group-text text-danger text-center" style="background-color: #fff; width: 150px;">Sentimen HS</span>
											</div>
										</div>
										<div class="input-group mb-2 w-75">
											<div class="input-group-prepend">
												<span class="input-group-text" style="background-color: #fff;"><i class="fa fa-smile-o text-success"></i></span>
											</div>
											<input type="number" min="1" max="{{ max_sample_sentiment }}" name="sample_HS" value="{{ max_sample_sentiment }}" id="sample-HS" class="form-control text-success" />
											<div class="input-group-append">
												<span class="input-group-text text-success text-center" style="background-color: #fff; width: 150px;">Sentimen Non HS</span>
											</div>
										</div>
										<label class="text-muted">Dari populasi <span class="h6">{{ count_data_training }}</span> data latih, <span class="h6" id="total_sample">{{ total_sample_sentiment }}</span> digunakan untuk pembuatan <em>model</em> latih.</label>
										<br />
										<div class="text-center d-none fadeIn" id="validasi_modeling">
											<small class="text-info">
												<i class="fa fa-info-circle"></i> Silakan lakukan proses 'Pembagian Data' terlebih dahulu
											</small>
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
									<button type="button" id="modeling_data" class="btn btn-primary">Mulai</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				
				<div class="table-responsive-sm">
					<table class="table table-bordered table-striped text-center" id="myTable">
						<thead>
							<tr>
								<th>No.</th>
								<th>Nama <em>Model</em></th>
								<th class="text-danger">Sentimen Hatespeech</th>
								<th class="text-success">Sentimen Non Hatespeech</th>
								<th>Total Sentimen</th>
								<th>Pilihan</th>
							</tr>
						</thead>
						<tbody>
							{% for data in data_model %}
							<tr>
								<td>{{ loop.index }}</td>
								<td>{{ data.model_name }}</td>
								<td class="text-danger">{{ data.sentiment_NONHS }}</td>
								<td class="text-success">{{ data.sentiment_HS }}</td>
								<td>{{ data.sentiment_count }}</td>
								<td>
									<button type="button" value="{{ data.model_name }}" class="btn btn-danger mb-1 delete-modal"><i class="fa fa-trash"></i> Hapus</button>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>

				<!-- Modal Hapus -->
				<div class="modal fade" tabindex="-1" id="modelingDeleteModal" >
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title"><i class="fa fa-trash mx-3"></i>Hapus Data</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body text-center text-muted">
								<p class="my-2">Apakah Anda yakin ingin menghapus data <strong class="text-dark"></strong>?</p>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
								<form action="/modeling/hapus" method="POST">
									<input type="hidden" name="id" required readonly />
									<button type="submit" class="btn btn-primary">Hapus</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}